@font-face {
	font-family: avenir;
	src: url('Avenir-Light.otf');
}

body {
	background-color: #191919;
	height: 100%;
  width: 100%;
  margin: 0px;
}

#loginCard {
	background-color: #fefefe;
	border-radius: 10px;
	box-shadow: 10px 20px 50px 5px black;
	display: flex;
	height: 20vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40vh;
	width: 40vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#form {
	display: flex;
	justify-content: center;
  align-items: center;
}

input[type='password'] {
	letter-spacing: 0.3em;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	font-size: 20px;
	padding: 5px;
}

input:focus {
	outline: none;
}

#submit {
	border-radius: 24px;
	height: 24px;
	margin-left: 10px;
	padding: 10px;
	transition: 0.3s;
	width: 24px;
}

#submit:hover {
	box-shadow: 1px 1px 5px 1px grey;
}

#mainImage {
	box-shadow: 10px 20px 50px 5px black;
	display: none;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
  width: 20cm;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: 3s;
  visibility: hidden;
}

#mainImage.show {
  display: block;
  visibility: visible;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}

#snackbar {
  visibility: hidden;
  width: 100%;
	background-color: #f44336;
	color: #fff;
	z-index: 1;
	top: 0px;
  font-family: avenir;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#snackbar.show {
	visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#loadingHolder {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#loadingHolder.poof {
  display: none;
}

#loading {
  animation: fadein 1s;
  height: 5rem;
}

#loading.hide {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media only screen and (max-device-width: 375px) {
  #mainImage {
		width: 90%;
  }

  #snackbar {
    font-size: 50px;
    height: 6rem;
  }

  #form {
    width: 80%;
  }

  #password {
    width: 80%;
    font-size: 60px;
  }

  #submit {
    box-shadow: 1px 1px 5px 1px grey;
    border-radius: 60px;
    margin-left: 30px;
    height: 60px;
    width: 60px;
  }

  #loading {
    height: 10rem;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 640px) {
  #mainImage {
		width: 90%;
  }

  #form {
    width: 80%;
  }

  #password {
    width: 80%;
    font-size: 60px;
  }

  #submit {
    box-shadow: 1px 1px 5px 1px grey;
    border-radius: 40px;
    margin-left: 30px;
    height: 40px;
    width: 40px;
  }

  #snackbar {
    font-size: 2rem;
    height: 3.5rem;
  }

  #loading {
    height: 7rem;
  }
}

@media only screen and (min-device-width: 641px) and (max-device-width: 1200px) {
  #snackbar {
    font-size: 1.25rem;
    min-height: 2rem;
  }

  #form {
    width: 80%;
  }

  #password {
    width: 80%;
    font-size: 30px;
  }

  #loading {
    height: 5rem;
  }
}

@media only screen and (min-device-width: 1201px) {
	#mainImage {
		width: 90%;
  }
  
  #snackbar {
    font-size: 18px;
    min-height: 3vh;
  }

  #form {
    width: 80%;
  }

  #password {
    width: 80%;
    font-size: 30px;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
    font-size: 40px;
  }
}
