/** @format */

@font-face {
  font-family: 'Custom';
  src: url('./assets/fonts/font.ttf');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #000000;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
  font-family: 'Custom';
}
