body {
  margin: 0;
}

@font-face {
  font-family: 'main';
  src: url('./assets/fonts/ZillaSlab.ttf');
}

.App {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  font-family: 'main';
} 

.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  width: 100%;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.name {
  background-image: linear-gradient(0deg, #72f, #c1b);
  background-clip: text;
  color: transparent;
  font-size: 9rem;
  z-index: 1;
}

.name-white {
  color: white;
  font-size: 4.3rem;
  line-height: 1vw;
  z-index: 1;
}

.link {
  color: white;
  font-size: 1.5rem;
  z-index: 1;
  transition: font-size 300ms ease-in-out;
}

.link:hover {
  font-size: 2rem;
  transition: font-size 300ms ease-in-out;
}

.github {
  background-image: linear-gradient(45deg, #666666, #aaaaaa);
  background-clip: text;
  color: transparent;
  margin-top: 5vh;
}

.linkedin {
  background-image:linear-gradient(45deg, #0077b5, #00a0dc);
  background-clip: text;
  color: transparent;
}

.facebook {
  background-image: linear-gradient(0deg, #3B5998, #355088);
  background-clip: text;
  color: transparent;
}

.twitter {
  background-image: linear-gradient(45deg, #00ACEE, #36D8FF, #F5F8FA, #FFFFFF);
  background-clip: text;
  color: transparent;
}

.mail {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-clip: text;
  color: transparent;
}

.download {
  background-image: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  background-clip: text;
  color: transparent;
}

.console {
  position: absolute;
  bottom: 10vh;
  right: 10vh;
  border-right-color: solid 3px #000000;
  white-space: nowrap;
  font-family: monospace;  
  font-size: 28px;
  color: #00FF41;
  text-align: end;
}
